<!DOCTYPE html>
<head>
<script src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	var ws = new WebSocket('ws://localhost:8080/ws'),
		user = <%- JSON.stringify(user) %>,
		ENTER_KEY = 13;

	ws.onmessage = function(data, flags) {
		var x = JSON.parse(data.data);

		if (x.hasOwnProperty("directive") && parseInt(x.from, 10) !== user.id) {
			ws.send(JSON.stringify([user.id, $("#directText").val(), "direct"]))
		}
	};

	function registerCommand() {
		ws.send(JSON.stringify([user.id, $("#commandText").val(), "broadcast"]));
	}

	//Detect when someone presses enter key, send the input to the server and clear input
	$('#commandText').keypress(function (e) {
		if (e.which == ENTER_KEY) {
			registerCommand();
			// return false;
			e.preventDefault();
			$("#commandText").val("");
		}
	});

	$("#register").click(registerCommand);
});

</script>
</head>
<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<p>
	<a href="/">Home</a> | 
	<a href="/auth/twitchtv">Log In</a>
	</p>
<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
	<a href="/test">Initiate Coup de Twitch!</a>
	<input style="display: block" id="directText" type="text" />
	<button id="directCmd">Send to Twitch's chat</button>
	<input style="display: block" id="commandText" type="text" />
	<button id="register">Register this command on next tick</button>
<% } %>
